body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img.contestant-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin-bottom: 6px;
}

#log img.contestant-photo {
    display: block;
}

table img.contestant-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
